# General ignores
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

mvnw
mvnw.cmd
.mvn/wrapper/*
**/mvnw
**/mvnw.cmd

**/.mvn
/target/

# Additions for Spring Boot and other IDEs
/out/

### IntelliJ IDEA ###
## .idea
!.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Spring Boot specific ignores
**/target/
**/out/
.DS_Store
