server:
  port: 8080 # 允许端口号
spring:
  main:
    # 关闭banner
    banner-mode: console
    # 允许循环引用
    allow-circular-references: true
  # mysql配置
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/db_exam?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: Aa112211
    driver-class-name: com.mysql.cj.jdbc.Driver
  # redis配置
#  data:
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password: Aa112211
    timeout: 10s
    lettuce: # Redis连接池配置
      pool:
        # 连接池最大连接数 默认8 ，负数表示没有限制
        max-active: 8
        # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认-1
        max-wait: -1
        # 连接池中的最大空闲连接 默认8
        max-idle: 8
        # 连接池中的最小空闲连接 默认0
        min-idle: 0
  servlet:
    multipart:
      max-file-size: 5MB
#MybatisPlus配置
mybatis-plus:
  global-config:
    # 关闭banner
    banner: false
    db-config:
      # 逻辑删除配置
      logic-not-delete-value: 0  # 未删除值
      logic-delete-value: 1      # 已删除值
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case:
  type-aliases-package: cn.org.alan.exam.model

#jwt配置 密钥、过期时间、检查是否快到期时间
jwt:
  secret: 47EQ7VKDBvOufw5PWhtTaOTORKrzaUVAitduSVFvK862kkx2TIHH4xNtVih8SH0V56fS4S7ff0VfqVZPaonWdR3N1t8eE2f2CPeL
  expiration: 1800000 # 30分钟，单位为毫秒 token过期时间
  refreshThreshold: 900000  # 15分钟，单位为毫秒 判断是否剩xx分钟过期

# 阿里云oss文件存储服务
oss:
  endpoint: https://oss-cn-beijing.aliyuncs.com
  access-key-id: LTAI5tGaZUEhWr9Jg3EUC9FQ
  access-key-secret: 4hFcObCh2ArA0wZZYbBP9mRy4BD2NO
  bucket-name: online-exam-system-backend

# Minio本地文件存储服务
minio:
  endpoint: http://127.0.0.1:9000 # minio服务地址
  accesskey: admin # minio用户名
  secretKey: Aa112211 # minio密码
  bucket: online-exam #桶名

# 日志配置
logging:
  level:
    root: info
    com.example: debug

#自定义配置
online-exam:
  storage:
    type: minio # 存储方式的配置 aliyun、minio
  login:
    captcha:
      enabled: true #是否启用验证码登录
system:
  register:
    enabled: true  # 控制是否开放注册功能
