<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.ExamQuestionMapper">

    <!-- 添加试题 -->
    <insert id="insertQuestion">
        insert into t_exam_question (exam_id,question_id,score,sort,type)
        VALUES
        <foreach collection="questionIdsAndSorts" item="item" separator="," index="sort">
            <!--(#{examId},#{qId},#{quScore},#{sort},#{quType})-->
            (#{examId}, #{item.questionId}, #{quScore}, #{item.sort}, #{quType})
        </foreach>
    </insert>

    <!-- 根据试卷ID和试题类型查询试卷与试题的联系 -->
    <select id="getExamQuByExamIdAndQuType" resultType="cn.org.alan.exam.model.entity.ExamQuestion">
        SELECT *
        FROM t_exam_question
        WHERE exam_id = #{examId}
        AND type = #{quType}
        ORDER BY sort ASC
    </select>

</mapper>
