<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.ExamQuAnswerMapper">

    <resultMap id="ListResultMap"
               type="cn.org.alan.exam.model.vo.exam.ExamQuAnswerExtVO">
        <result column="id" property="id"/>
        <result column="sort" property="sort"/>
        <result column="image" property="image"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 获取单题作答信息 -->
    <select id="questionAnalyse" resultType="cn.org.alan.exam.model.vo.score.QuestionAnalyseVO">
        select count(case where is_right = 1 then 1 end) as rightCount, count(*) as totalCount
        from t_exam_qu_answer
        where exam_id = #{examId}
        and question_id = #{questionId}
    </select>

    <!--获取用户回答主观题信息-->
    <select id="selectUserAnswer" resultType="cn.org.alan.exam.model.vo.answer.UserAnswerDetailVO">
        select q.id as quId, q.content as quTitle, q.image as quImg, eqa.user_id,eqa.exam_id, eqa.answer_content as
        answer, o.content as refAnswer,e.saq_score as totalScore
        from t_exam_qu_answer as eqa
        left join t_question as q on eqa.question_id = q.id
        left join t_option as o on q.id = o.qu_id
        left join t_exam as e on e.id = #{examId}
        where eqa.question_type = 4
        and eqa.user_id = #{userId}
        and eqa.exam_id = #{examId}
    </select>

</mapper>
