<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.GradeMapper">


    <select id="selectMaps" resultType="java.util.Map"></select>

    <select id="countAllGrades" resultType="long">
        SELECT COUNT(*) FROM t_grade
    </select>

    <select id="getGradeCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_grade WHERE id in (SELECT grade_id FROM t_exam_grade WHERE exam_id= #{exam_id})
    </select>
    <delete id="deleteByUserId">
        delete from t_grade where user_id in
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </delete>
    <select id="selectIdsByUserIds" resultType="java.lang.Integer">
        select id from t_grade where user_id in
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>
    <select id="selectGradePage" resultType="cn.org.alan.exam.model.vo.GradeVO">
        select g.id as id,g.grade_name as gradeName, g.user_id as userId,u.user_name as userName,
        g.code as code,(SELECT count(*) FROM t_user k WHERE k.grade_id = g.id and k.is_deleted=0 ) as gradeCount
        from t_grade g
        join t_user u on g.user_id = u.id
        <trim suffixOverrides="and" prefix="where">
            <if test="role==2">
                g.user_id = #{userId} and
            </if>

            <if test="gradeName!=null">
                 g.grade_name like concat('%',#{gradeName},'%')  and
            </if>

            g.is_deleted = 0

        </trim>
    </select>
    <select id="selectGradeIdsPage" resultType="java.lang.Integer">
        SELECT id
        FROM t_grade
        WHERE  is_deleted = 0
        <if test="userId!=1">
            and user_id = #{userId}
        </if>
        <if test='gradeName!=null and gradeName!=""'>
            AND grade_name LIKE CONCAT('%', #{gradeName}, '%')
        </if>
        ORDER BY id
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="batchSelectByIds" resultType="cn.org.alan.exam.model.vo.GradeVO">
        SELECT * FROM t_grade WHERE is_deleted = 0 and id IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>
    <select id="countByCondition" resultType="java.lang.Integer">
        select count(*)
        from t_grade
        <trim prefix="where" prefixOverrides="and">
            is_deleted = 0
            <if test="userId!=1">
                and user_id = #{userId}
            </if>
            <if test='gradeName!=null and gradeName!=""'>
                and grade_name like concat('%',#{gradeName},'%')
            </if>
        </trim>
    </select>
</mapper>
