<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.NoticeMapper">

    <!-- 更新公告 -->
    <update id="updateNotice">
        update t_notice
        <set>
            <if test="noticeForm.isPublic!=null">
                is_public = #{noticeForm.isPublic},
            </if>
            <if test="noticeForm.title!='' and noticeForm.title!=null">
                title = #{noticeForm.title},
            </if>
            <if test="noticeForm.content!='' and noticeForm.content!=null">
                content = #{noticeForm.content},
            </if>
        </set>
        where id = #{noticeId}
    </update>

    <!-- 获取公告是否公开 -->
    <select id="getIsPublic" resultType="java.lang.Integer">
        select is_public from t_notice
        where id = #{noticeId}
    </select>

    <!-- 获取最新公告 -->
    <select id="getNewNotice" resultType="cn.org.alan.exam.model.vo.notice.NoticeVO">
        select n.id as id ,n.title as title,n.image as image,n.content as content,n.user_id as userId,
        n.create_time as createTime,u.real_name as realName,n.is_public as isPublic
        from t_notice n
        left join t_user as u on n.user_id=u.id
        where  n.is_deleted = 0 and
        ((
        <!-- 非公开的 -->
        (n.is_public = 0)
        <if test="teachIdList != null and teachIdList.size() > 0">
            <!-- 创建人是班级老师列表中的 -->
            and n.user_id in
            <foreach collection="teachIdList" item="teachId" open="(" close=")" separator=",">
                #{teachId}
            </foreach>
        </if>
        <if test="noticeIdList != null and noticeIdList.size() > 0">
            <!-- 公告并且是和班级关联的 -->
            and n.id in
            <foreach collection="noticeIdList" item="noticeId" open="(" close=")" separator=",">
                #{noticeId}
            </foreach>
        </if>
        <if test="teachIdList == null or teachIdList.size() == 0">
            and 1 = 0 <!-- 如果 teachIdList 为空，使条件不成立 -->
        </if>
        <if test="noticeIdList == null or noticeIdList.size() == 0">
            and 1 = 0 <!-- 如果 noticeIdList 为空，使条件不成立 -->
        </if>
        )
        or
        (
        <!-- 或者公告是公开的 -->
        (n.is_public = 1)
        <if test="teachIdList != null and teachIdList.size() > 0">
            <!-- 创建人是班级老师列表中的 -->
            and (n.user_id in
            <foreach collection="teachIdList" item="teachId" open="(" close=")" separator=",">
                #{teachId}
            </foreach>)
        </if>
        <if test="adminIdList != null and adminIdList.size() > 0">
            <!-- 或者创建人是管理员列表中的 -->
            or n.user_id in
            <foreach collection="adminIdList" item="adminId" open="(" close=")" separator=",">
                #{adminId}
            </foreach>
        </if>
        <if test="teachIdList == null or teachIdList.size() == 0 and adminIdList == null or adminIdList.size() == 0">
            and 1 = 0 <!-- 如果 teachIdList 和 adminIdList 都为空，使条件不成立 -->
        </if>
        ))
        ORDER BY  n.create_time DESC
    </select>

    <!-- 教师管理员获取公告 -->
    <select id="getNotice" resultType="cn.org.alan.exam.model.vo.notice.NoticeVO">
        SELECT n.id as id ,n.title as title,n.image as image,n.content as content,n.user_id as userId,
        n.create_time as createTime,u.real_name as realName,n.is_public as isPublic
        from t_notice n
        left join t_user as u on n.user_id=u.id
        <trim prefix="where" prefixOverrides="and">
            n.is_deleted = 0
            <if test="userId!=1">
                and n.user_id = #{userId}
            </if>
            <if test='title!=null and title!=""'>
                and n.title like concat('%',#{title},'%')
            </if>
        </trim>
    </select>

</mapper>
