<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.QuestionMapper">

    <!--新增试题获取获取主键-->
    <insert id="insertGetId" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_question
            value(null,#{quType},#{image},#{content},#{createTime},#{analysis},#{repoId}, null)
    </insert>

    <!--    分页获取试题信息-->
    <select id="pagingQuestion" resultType="cn.org.alan.exam.model.vo.QuestionVO">
        select q.id,
        case q.qu_type
        when 1 then '单选题'
        when 2 then '多选题'
        when 3 then '判断题'
        when 4 then '简答题' end quType,
        q.content,
        r.title,
        q.create_time
        from t_question q join t_repo r on q.repo_id = r.id
        <trim suffixOverrides="and" prefix="where">
            <if test='content != null and content != ""'>
                q.content like concat('%',#{content},'%') and
            </if>
            <if test='repoId != null and repoId != 0'>
                q.repo_id = #{repoId} and
            </if>
            <if test='type != null and type != 0'>
                q.qu_type = #{type} and
            </if>
            <if test='userId != null and userId != 0'>
                q.user_id = #{userId}
            </if>

        </trim>
    </select>
</mapper>
