<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.QuestionMapper">
    <delete id="deleteByUserIds">
        delete from t_question where user_id in
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </delete>


    <!--    分页获取试题信息-->
    <select id="pagingQuestion" resultType="cn.org.alan.exam.model.vo.QuestionVO">
        select q.id,
        case q.qu_type
        when 1 then '单选题'
        when 2 then '多选题'
        when 3 then '判断题'
        when 4 then '简答题' end as quType,
        q.content,
        r.title as repoTitle,
        q.create_time
        from t_question q join t_repo r on q.repo_id = r.id
        <trim suffixOverrides="and" prefix="where">
            <if test='content != null and content != ""'>
                q.content like concat('%',#{content},'%') and
            </if>
            <if test='repoId != null and repoId != 0'>
                q.repo_id = #{repoId} and
            </if>
            <if test='type != null and type != 0'>
                q.qu_type = #{type} and
            </if>
            <if test='userId != null and userId != 0'>
                q.user_id = #{userId}
            </if>

        </trim>
    </select>


    <resultMap id="singleQuestion" autoMapping="true" type="cn.org.alan.exam.model.vo.QuestionVO">
        <id column="id" property="id"/>
        <collection property="options" autoMapping="true" column="id" ofType="cn.org.alan.exam.model.entity.Option"
                    select="cn.org.alan.exam.mapper.OptionMapper.selectAllByQuestionId"/>
    </resultMap>
    <!--    根据试题id获取单题详情 一对多查询-->
    <select id="selectSingle" resultMap="singleQuestion">
        select q.id,
               q.content,
               q.image,
               q.analysis,
               case q.qu_type
                   when 1 then '单选题'
                   when 2 then '多选题'
                   when 3 then '判断题'
                   when 4 then '简答题' end as quType,
               r.title                      as repoTitle
        from t_question as q
                 join t_repo as r on q.repo_id = r.id
        where q.id = #{id}
    </select>
    <select id="selectIdsByUserIds" resultType="java.lang.Integer">
        select id from t_question where user_id in
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>
</mapper>
