<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.RepoMapper">
    <delete id="deleteByUserIds">
        delete from t_repo where user_id in
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </delete>

    <select id="pagingRepo" resultType="RepoVO">
        select r.id,u.real_name,r.title,r.create_time from t_repo r join t_user u on r.user_id = u.id
        <where>
            <if test='title != null and title != ""'>
                r.title like concat('%',#{title},'%')
            </if>
            <if test='userId > 0'>
                r.id = #{userId}
            </if>
        </where>
    </select>
    <!-- 分页获取可刷题库信息 -->
    <select id="selectRepo" resultType="cn.org.alan.exam.model.vo.exercise.ExerciseRepoVO">
        select r.id,r.title as repoTitle from t_repo as r
        <trim prefix="where ">
            <if test='title != null and title != ""'>
                r.title like concat('%',#{title},'%')
            </if>
        </trim>
    </select>
</mapper>
