<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.alan.exam.mapper.UserDailyLoginDurationMapper">


    <select id="getDaily" resultType="cn.org.alan.exam.model.vo.stat.DailyVO">
        select *
        from t_user_daily_login_duration
        where user_id = #{userId}
        order by login_date DESC
        limit 15

    </select>
</mapper>
